$theme-color: #e7bfad;
$hero-color: #ede8e5;
$background-color: #fff;
$secondary-color: #333;
$success-color: #cbb7cb;
$info-color: #b0bebf;
$danger-color: #e89d76;
$warning-color: #c05821;
div#__next {
  flex: 1;
  background-color: $background-color;
  /** Default overrides */
  textarea {
    resize: none;
    height: 10rem;
  }

  div.image-container {
    width: 100%;

    > span {
      position: unset !important;
      box-sizing: unset !important;
      display: unset !important;
      width: unset !important;
      height: unset !important;
      background: unset !important;
      opacity: unset !important;
      border: unset !important;
      margin: unset !important;
      padding: unset !important;
      max-width: unset !important;
    }

    img.image {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }
}
/** custom colors */
$theme-colors: (
  'primary': $theme-color,
  'secondary': $secondary-color,
  'success': $success-color,
  'info': $info-color,
  'danger': $danger-color,
  'muted': $hero-color,
  'warning': $warning-color
);
$enable-negative-margins: true;
$font-family-base: 'Open Sans', sans-serif;
$headings-font-family: 'Tenor Sans', sans-serif;
@import '~bootstrap/scss/bootstrap';
